.main {
  display: flex;
  flex-grow: 1;
}

.episodes {
  background: red;
}
.dimensions {
  background: blue;
}
.locations {
  background: orange;
}

.list {
  width: 300px;
  background: white;
  padding: 25px 20px;
}

.content {
  flex-grow: 1;
  /* background: lightblue; */
}

.context-list {
  display: block;
  margin: 4px 0px;
  text-decoration: none;
  color: grey;
}
.context-list:hover {
  color: red;
}

.context-active {
  color: black;
}
